@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model validationpro4.Models.StudentModel
<h2>Student Details</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <strong>Name </strong> @Html.EditorFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
    <br />
    <strong>Mobile Number </strong> @Html.EditorFor(m => m.Mobilenumber)
    @Html.ValidationMessageFor(m => m.Mobilenumber, "", new { @class = "text-danger" })
    <br />
    <br />
    <input id="Submit" type="submit" value="submit" />
    @Html.ValidationSummary(false, "", new { @class = "alert-danger"})
}
<br />
Name : @ViewBag.name
<br />
Mobile Number : @ViewBag.mobilenumber

<br />

